#team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

#team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

#team ul {
  display: flex;
  gap: 24px;
}

#team ul li {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  padding-bottom: 32px;
}

#team ul li img {
  margin-bottom: 32px;
}

#team ul li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

#team ul li p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}